# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 4096;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

    server {
        listen       80;
        listen       [::]:80;
        server_name  _;
        root         /usr/share/nginx/html;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        error_page 404 /404.html;
        location = /404.html {
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        }
    }

# Settings for a TLS enabled server.
#
#    server {
#        listen       443 ssl http2;
#        listen       [::]:443 ssl http2;
#        server_name  _;
#        root         /usr/share/nginx/html;
#
#        ssl_certificate "/etc/pki/nginx/server.crt";
#        ssl_certificate_key "/etc/pki/nginx/private/server.key";
#        ssl_session_cache shared:SSL:1m;
#        ssl_session_timeout  10m;
#        ssl_ciphers PROFILE=SYSTEM;
#        ssl_prefer_server_ciphers on;
#
#        # Load configuration files for the default server block.
#        include /etc/nginx/default.d/*.conf;
#
#        error_page 404 /404.html;
#            location = /40x.html {
#        }
#
#        error_page 500 502 503 504 /50x.html;
#            location = /50x.html {
#        }
#    }

        server_names_hash_bucket_size 128;
        server {
                server_name phpmyadmin www.phpmyadmin mail.phpmyadmin webmail.phpmyadmin admin.phpmyadmin;
                listen 103.133.214.122;
                root /home/phpmyadmin/public_html;
                index index.php index.htm index.html;
                access_log /var/log/virtualmin/phpmyadmin_access_log;
                error_log /var/log/virtualmin/phpmyadmin_error_log;
                fastcgi_param GATEWAY_INTERFACE CGI/1.1;
                fastcgi_param SERVER_SOFTWARE nginx;
                fastcgi_param QUERY_STRING $query_string;
                fastcgi_param REQUEST_METHOD $request_method;
                fastcgi_param CONTENT_TYPE $content_type;
                fastcgi_param CONTENT_LENGTH $content_length;
                fastcgi_param SCRIPT_FILENAME "/home/phpmyadmin/public_html$fastcgi_script_name";
                fastcgi_param SCRIPT_NAME $fastcgi_script_name;
                fastcgi_param REQUEST_URI $request_uri;
                fastcgi_param DOCUMENT_URI $document_uri;
                fastcgi_param DOCUMENT_ROOT /home/phpmyadmin/public_html;
                fastcgi_param SERVER_PROTOCOL $server_protocol;
                fastcgi_param REMOTE_ADDR $remote_addr;
                fastcgi_param REMOTE_PORT $remote_port;
                fastcgi_param SERVER_ADDR $server_addr;
                fastcgi_param SERVER_PORT $server_port;
                fastcgi_param SERVER_NAME $server_name;
                fastcgi_param PATH_INFO $fastcgi_path_info;
                fastcgi_param HTTPS $https;
                location ^~ /.well-known/ {
                        try_files $uri /;
                }
                location ~ "\.php(/|$)" {
                        try_files $uri $fastcgi_script_name =404;
                        default_type application/x-httpd-php;
                        fastcgi_pass unix:/run/php-fpm/176356530160264.sock;
                }
                fastcgi_split_path_info "^(.+\.php)(/.+)$";
                if ($host = webmail.phpmyadmin) {
                        rewrite "^/(.*)$" "https://phpmyadmin:20000/$1" redirect;
                }
                if ($host = admin.phpmyadmin) {
                        rewrite "^/(.*)$" "https://phpmyadmin:10000/$1" redirect;
                }
                listen 103.133.214.122:443 ssl;
                ssl_certificate /etc/ssl/virtualmin/176356530160264/ssl.cert;
                ssl_certificate_key /etc/ssl/virtualmin/176356530160264/ssl.key;
                rewrite /awstats/awstats.pl /cgi-bin/awstats.pl;
        }
        server {
                server_name marriagepaper.com www.marriagepaper.com mail.marriagepaper.com webmail.marriagepaper.com admin.marriagepaper.com;
                listen 103.133.214.122;
               #        root /home/marriagepaper/public_html;
               root /var/www/marriage-app/client/dist;    
                index index.php index.htm index.html;
                access_log /var/log/virtualmin/marriagepaper.com_access_log;
                error_log /var/log/virtualmin/marriagepaper.com_error_log;
                fastcgi_param GATEWAY_INTERFACE CGI/1.1;
                fastcgi_param SERVER_SOFTWARE nginx;
                fastcgi_param QUERY_STRING $query_string;
                fastcgi_param REQUEST_METHOD $request_method;
                fastcgi_param CONTENT_TYPE $content_type;
                fastcgi_param CONTENT_LENGTH $content_length;
                fastcgi_param SCRIPT_FILENAME "/home/marriagepaper/public_html$fastcgi_script_name";
                fastcgi_param SCRIPT_NAME $fastcgi_script_name;
                fastcgi_param REQUEST_URI $request_uri;
                fastcgi_param DOCUMENT_URI $document_uri;
                fastcgi_param DOCUMENT_ROOT /home/marriagepaper/public_html;
                fastcgi_param SERVER_PROTOCOL $server_protocol;
                fastcgi_param REMOTE_ADDR $remote_addr;
                fastcgi_param REMOTE_PORT $remote_port;
                fastcgi_param SERVER_ADDR $server_addr;
                fastcgi_param SERVER_PORT $server_port;
                fastcgi_param SERVER_NAME $server_name;
                fastcgi_param PATH_INFO $fastcgi_path_info;
                fastcgi_param HTTPS $https;
                location ^~ /.well-known/ {
                        try_files $uri /;
                }
                location ~ "\.php(/|$)" {
                        try_files $uri $fastcgi_script_name =404;
                        default_type application/x-httpd-php;
                        fastcgi_pass unix:/run/php-fpm/17637902541304214.sock;
                }
                fastcgi_split_path_info "^(.+\.php)(/.+)$";
                if ($host = webmail.marriagepaper.com) {
                        rewrite "^/(.*)$" "https://marriagepaper.com:20000/$1" redirect;
                }
                if ($host = admin.marriagepaper.com) {
                        rewrite "^/(.*)$" "https://marriagepaper.com:10000/$1" redirect;
                }
                listen 103.133.214.122:443 ssl;
                ssl_certificate /etc/ssl/virtualmin/17637902541304214/ssl.combined;
                ssl_certificate_key /etc/ssl/virtualmin/17637902541304214/ssl.key;
                rewrite /awstats/awstats.pl /cgi-bin/awstats.pl;
        }
        server {
                server_name server.marriagepaper.com www.server.marriagepaper.com mail.server.marriagepaper.com webmail.server.marriagepaper.com admin.server.marriagepaper.com;
                listen 103.133.214.122;
                root /home/server/public_html;
                index index.php index.htm index.html;
                location / {
    proxy_pass http://127.0.0.1:5000;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
}
                access_log /var/log/virtualmin/server.marriagepaper.com_access_log;
                error_log /var/log/virtualmin/server.marriagepaper.com_error_log;
                fastcgi_param GATEWAY_INTERFACE CGI/1.1;
                fastcgi_param SERVER_SOFTWARE nginx;
                fastcgi_param QUERY_STRING $query_string;
                fastcgi_param REQUEST_METHOD $request_method;
                fastcgi_param CONTENT_TYPE $content_type;
                fastcgi_param CONTENT_LENGTH $content_length;
                fastcgi_param SCRIPT_FILENAME "/home/server/public_html$fastcgi_script_name";
                fastcgi_param SCRIPT_NAME $fastcgi_script_name;
                fastcgi_param REQUEST_URI $request_uri;
                fastcgi_param DOCUMENT_URI $document_uri;
                fastcgi_param DOCUMENT_ROOT /home/server/public_html;
                fastcgi_param SERVER_PROTOCOL $server_protocol;
                fastcgi_param REMOTE_ADDR $remote_addr;
                fastcgi_param REMOTE_PORT $remote_port;
                fastcgi_param SERVER_ADDR $server_addr;
                fastcgi_param SERVER_PORT $server_port;
                fastcgi_param SERVER_NAME $server_name;
                fastcgi_param PATH_INFO $fastcgi_path_info;
                fastcgi_param HTTPS $https;
                location ^~ /.well-known/ {
                        try_files $uri /;
                }
                location ~ "\.php(/|$)" {
                        try_files $uri $fastcgi_script_name =404;
                        default_type application/x-httpd-php;
                        fastcgi_pass unix:/run/php-fpm/17637927201379578.sock;
                }
                fastcgi_split_path_info "^(.+\.php)(/.+)$";
                if ($host = webmail.server.marriagepaper.com) {
                        rewrite "^/(.*)$" "https://server.marriagepaper.com:20000/$1" redirect;
                }
                if ($host = admin.server.marriagepaper.com) {
                        rewrite "^/(.*)$" "https://server.marriagepaper.com:10000/$1" redirect;
                }
                listen 103.133.214.122:443 ssl;
                ssl_certificate /etc/ssl/virtualmin/17637927201379578/ssl.combined;
                ssl_certificate_key /etc/ssl/virtualmin/17637927201379578/ssl.key;
                rewrite /awstats/awstats.pl /cgi-bin/awstats.pl;
        }
}
